includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    # phpstan-baseline.neon is removed as we are explicitly ignoring errors.

parameters:
    level: 7
    paths:
        - src
        - tests

    ignoreErrors:
        # Ignore undefined 'method()' calls on mock objects in test files
        -
            message: '#^Call to an undefined method .*::method\(\)\.$#'
            paths:
                - tests/*
        # Ignore for HttpTransport.php - createStream expects string, string|false given
        -
            message: '~StreamFactoryInterface::createStream\(\).*expects string, string\|false given~'
            paths:
                - src/Transport/HttpTransport.php
        # Ignore "Negated boolean expression is always true" for a specific elseif in Server.php
        -
            message: '#Negated boolean expression is always true.#'
            paths:
                - src/Server.php


    # phpunit_config_file: phpunit.xml.dist
    # Exclude specific files or directories if needed
    # excludePaths:
    #     - src/some_legacy_code_to_ignore.php
